<div class="footer-social-menu">
    <div class="footer-social-icons">
        <a href="https://www.facebook.com/RussellD1987"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="https://twitter.com/RDurham1007"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://github.com/rdurham1007"><i class="fa fa-github fa-2x"></i></a>
        <a href="{{@blog.url}}/rss"><i class="fa fa-rss fa-2x"></i></a>
    </div> 
</div>